@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
    background-color: #0e2344;
    color: #a3a3a3;
}

.divlist {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#lightgreen {
    background-color: #97f27d;
}
#green {
    background-color: #5eff66;
}
#yellow {
    background-color: #ffff70;
}
#orange {
    background-color: #ffaa42;
}
#red {
    background-color: #ff4b41;
}
#violet {
    background-color: #ff4189;
}


#div3 {
    margin-top: 40px !important;
}

#logo {
    font: 36px 'Passion One',sans-serif;
    color: #a3a3a3;
    margin: 20px auto;
}

.center {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    height: 0px;
    border: solid white 1px;
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.mains {
    margin: 120px 0 0 0;
}

.line {
    position: absolute;
    left: 50%;
    top: 25px;
    bottom: -192px;
    width: 3px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-top: -12px;
    z-index: 2;
}

.wwright {
    left: 50.8%;
    text-align: left;
}

.wwleft {
    right: 50.7%;
    text-align: right;
}

.word {
    color: #ccc;
    padding: 3px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
}

.stations {
    height: 300px;
    width: 300px;
    background-color: #587;
    margin: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 30px auto;
    display: inline-block;
    vertical-align: top;
}

.center:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.backupCloud {

    font-size: 60px;
    vertical-align: middle !important;
    text-align: center !important;
    line-height: 100px !important;
}

.pm25 { 
    color: #97f27d !important;
}

.pm60 { 
    color: #5eff66 !important;
}

.pm100 { 
    color: #ffff70 !important;
}

.pm150 { 
    color: #ffaa42 !important;
}

.pm200 { 
    color: #ff4b41 !important;
}

.pm201 { 
    color: #ff4189 !important;
}

.cloudInfo {
    border: solid #080920 1px;
    position: absolute;
    z-index: 1;
    width: 250px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    min-height: 10em;
    display: flex;
    align-items: center;
}

.leftClouds {
    left: -267px;
}

#cloudInfo0 {
    top: 90px;
}

#cloudInfo1 {
    top: 260px;
}

#cloudInfo2 {
    top: 435px;
}

.rightClouds {
    right: -268px;
}

#cloudInfo3 {
    top: -5px; 
}

#cloudInfo4 {
    top: 170px;
}

#cloudInfo5 {
    top: 340px;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}
